<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="card-number">
    <div class="mb-2">
        <label class="form-label" for="cardNumberField" th:text="#{cardNumber.label}"></label> <span
            class="text-secondary">*</span>
        <div class="input-group has-validation">
            <input autocomplete="off" class="form-control" id="cardNumberField" inputmode="numeric"
                   maxlength="19" pattern="[0-9]" required
                   th:aria-label="#{cardNumber.label}"
                   th:name="#{cardNumber.name}" th:placeholder="#{cardNumber.placeholder}" type="text">
            <span class="card-icon"><i class="credit-card" id="cardNumberSchemeLogo"></i></span>
            <div class="invalid-feedback hidden" id="cardNumberFeedback" th:if="${!#fields.hasErrors('cardNumber')}"
                 th:text="#{cardNumber.error.invalid}"></div>
            <div class="invalid-feedback" th:errors="*{cardNumber}" th:if="${#fields.hasErrors('cardNumber')}"></div>
        </div>
    </div>
</div>

<div th:fragment="expiry-date">
    <div class="mb-2">
        <label class="form-label" for="expiryMonthField" th:text="#{expiry.date.label}"></label> <span
            class="text-secondary">*</span>
        <div class="row">
            <div class="col">
                <select class="form-select " id="expiryMonthField" required="required"
                        th:name="#{expiry.month.name}">
                    <option disabled="disabled" selected="selected" th:text="#{expiry.month.placeholder}"></option>
                    <option th:each="month : ${options.MONTHS}" th:text="${month}" th:value="${month}"></option>
                </select>
            </div>
            <div class="col-1">
                <span class="slash">/</span>
            </div>
            <div class="col">
                <select class="form-select " id="expiryYearField" required="required" th:name="#{expiry.year.name}">
                    <option disabled="disabled" selected="selected" th:text="#{expiry.year.placeholder}"></option>
                    <option th:each="year : ${options.YEARS}" th:text="${year}" th:value="${year}"></option>
                </select>
            </div>
        </div>
        <div class="invalid-feedback hidden" id="expiryDateFeedback" th:if="${!#fields.hasErrors('expiryMonth')}"
             th:text="#{expiry.date.error.invalid}"></div>
        <div class="invalid-feedback " th:errors="*{expiryMonth}" th:if="${#fields.hasErrors('expiryMonth')}"></div>
        <div class="invalid-feedback" th:errors="*{expiryYear}" th:if="${#fields.hasErrors('expiryYear')}"></div>
    </div>
</div>

<div th:fragment="account-number">
    <div class="mb-2 d-none" id="accountNumberFieldContainer">
        <label class="form-label" for="accountNumberField" th:text="#{accountNumber.label}"></label>
        <span class="text-secondary">*</span>
        <div class="input-group has-validation">
            <input autocomplete="off" class="form-control"
                   id="accountNumberField" inputmode="numeric"
                   maxlength="11" pattern="[0-9]" th:aria-label="#{accountNumber.label}"
                   th:name="#{accountNumber.name}"
                   th:placeholder="#{accountNumber.placeholder}"
                   type="text">
            <span class="card-icon"><i class="credit-card bank-axept"></i></span>
            <div class="invalid-feedback hidden" id="accountNumberFeedback"
                 th:if="${!#fields.hasErrors('accountNumber')}"
                 th:text="#{accountNumber.error.invalid}"></div>
            <div class="invalid-feedback" th:errors="*{accountNumber}"
                 th:if="${#fields.hasErrors('accountNumber')}"></div>
        </div>
    </div>

</div>

<div th:fragment="save-button">
    <div class="mb-2 align-items-center justify-content-between">
        <button class="btn btn-gray-400 text-white " disabled id="saveButton"
                th:text="#{saveButton.label}"
                type="submit"></button>
    </div>
</div>

</body>

</html>