<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="card-form">
    <form class="needs-validation" method="post" novalidate
          th:action="@{/card-registration}" th:object="${addCardForm}">

        <div th:replace="field :: card-number"></div>

        <div th:replace="field :: expiry-date"></div>

        <div th:replace="field :: account-number"></div>

        <div class="invalid-feedback" th:if="${addCardError} != null" th:text="${addCardError}"></div>
        <p class=""><span class="text-secondary">*</span> <span th:text="#{input.required}"></span></p>

        <div th:replace="field:: save-button"></div>

        <div>
            <p th:if="${response} != null and ${addCardError} == null" th:text="#{add.card.success.message}"></p>
        </div>
    </form>

</div>

</body>

</html>